@model ReshalaProject.Models.UserTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cabinet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cabinet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
